<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='add_toy.css') }}">
    <script src="script.js"></script>
    <title>Add Toy</title>
</head>
<body>
    <h1>Add A Toy!</h1>

    <nav class="nav-bar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <form class="form-container" action="/toys/new" method="POST">
        <input type="hidden" name="user_id" value="{{session['user_id']}}">
        <label for="toy_name">Toy Name:</label>
        <input type="text" id="toy_name" name="toy_name" required>

        <div class="container">
            <img src="default-image.jpg" alt="Your Image" class="image" id="uploadedImage">
            <input type="file" accept="image/*" class="hidden" id="imageInput" onchange="displayImage()">
        </div>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required>

        <label for="year">Year:</label>
        <input type="text" id="year" name="year" required>

        <input type="submit" value="Add">
    </form>
</body>
</html>