<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='show_toy.css') }}">
    <script src="script.js"></script>
    <title>Show Toy</title>
</head>
<body>
    <nav class="nav-bar">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="toy-container">
            <h3>{{ toy.toy_name }}</h3>
            {% set file_name="images/"+ toy.image_path %}
            <img src="{{url_for('static', filename=file_name)}}" alt="Toy Image" />
            <p>{{ toy.description }}</p><br><br>
            <p>Year: {{ toy.year }}</p>
            <p>Added By: {{toy.first_name}}</p>
        </div>
    </div>
</body>
</html>